/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0019'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0031'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff004a'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0063'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0094'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ad'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00c6'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00df'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00f7'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Krub', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(13, 202, 240, .11);
}
/*nav*/
.linea {
    background-color: #20C4CB;
    width: 100%;
    height: 40px;
}
nav {
    background-color: #fff;
    font-size: 2.8rem;
    font-family: 'Krub', sans-serif;
    color: black;
    box-shadow: 12px 10px 20px 8px rgba(51, 52, 53, 0.7);
    position: relative;
}
nav h1 {
    color: #295CD4;
    font-weight: bolder;
    padding: 10px;
    font-size: 3rem;
}
.text_l {
    color: #56008c;
    font-weight: bolder;
}
.text_l:hover {
    color: #295CD4;
}
.h1 {
    color: #295CD4;
    font-weight: bolder;
}
/*panel*/
.usu_a {
    box-shadow: 4px 4px 4px 4px rgba(220, 57, 18, 0.7);
    transition: 1s linear;
}
.usu_a:hover {
    box-shadow: 4px 4px 4px 4px rgba(168, 255, 80, 0.7);
    transform: scale(.9);

}
.usu_2 {
    box-shadow: 4px 4px 4px 4px rgba(255, 153, 0, 0.7);
    transition: 1s linear;
}
.usu_2:hover {
    box-shadow: 4px 4px 4px 4px rgba(223, 53, 253, 0.886);
    transform: scale(.9);
}
.usu_3 {
    box-shadow: 4px 4px 4px 4px rgba(51, 102, 204, 0.7);
    transition: 1s linear;
}
.usu_3:hover {
    box-shadow: 4px 4px 4px 4px rgba(255, 102, 161, 0.7);
    transform: scale(.9);
}
.usu_4 {
    box-shadow: 4px 4px 4px 4px rgba(16, 150, 24, 0.7);
    transition: 1s linear;
}
.usu_4:hover {
    box-shadow: 4px 4px 4px 4px rgba(255, 37, 37, 0.862);
    transform: scale(.9);
}
.usu_5 {
    box-shadow: 4px 4px 4px 4px rgba(153, 0, 153, 0.7);
    transition: 1s linear;
}
.usu_5:hover {
    box-shadow: 4px 4px 4px 4px rgba(79, 220, 255, 0.899),
        0px 0px 4px 4px rgb(237, 100, 225);
    transform: scale(.9);
}
.usu_c {
    transition: 1s linear;
}
.usu_c:hover {
    box-shadow: 4px 4px 4px 4px rgba(79, 220, 255, 0.899),
        0px 0px 4px 4px rgb(237, 100, 225);
    transform: scale(.9);
}
.h1_panel {
    font-size: 3rem;
    color: #295CD4;
    font-weight: bold;
}
/*grafica*/
.britney_y_sus_colores {
    border-top-color: #EA356D;
}
/*botones*/
.boton_cuenta {
    background-color: #EA356D;
}
.boton{
    width: 100%;
}

.btn-ini {
    background-color: #EA356D;
}
/*footer*/
footer {
    background-color: #fff;
    font-size: 2.8rem;
    font-family: 'Krub', sans-serif;
}
.letra {
    font-weight: 900;
    color: #EA356D;
}
.icons {
    height: 56px;
}
.container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 5px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.container__cards {
    width: 100%;
    height: 85vh;
    font-size: large;
    background-image: url('assets/img/Morraquito.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-tab {
    background-color: rgb(240, 240, 240);
}
.contenedor_tabla {
    background-color: transparent;
    margin-left: 35%;
    width: 50%;
    height: 50vh;
}
.letra_ol {
    font-size: medium;
    color: #000800;
}
.container__cards_w {
   
    border: 1px solid black;
    background-color: rgb(245, 246, 247);
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card_boton {
    width: 100%;
    display: flex;
    border: 1px solid black;
    background-color: rgb(99, 99, 98);
}
.wilson{
    overflow: scroll;
    width: 100%;
    height: 90vh;
   
}
.cards {
    border: 1px solid black;
    background-color: rgba(34, 222, 255, 0.596);
    width: 95%;
    height: 50vh;
    margin: 5px;
}
.container2 {
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
}
.container2::after {
    background-color: rgba(0, 0, 0, .7);
}
.container_p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container_cards_z {
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    background-color: rgb(245, 246, 247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.con_se_1 {
    width: 40%;
    height: 50%;
    background-color: rgb(245, 246, 247);
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    box-shadow: 12px 10px 20px 8px rgba(51, 52, 53, 0.7);
}
.con_se_1 h2 {
    font-size: 2rem;
}
.con_se_u label {
    text-align: center;
    color: #56008c;
    font-weight: bold;
}
.input {
    width: 60%;
    height: auto;
    font-size: medium;
    font-family: 'krub', sans-serif;
    text-align: center;
}
.contenedor_f {
    font-family: 'Krub', sans-serif;
    width: 50%;
}
.con_se h2 {
    font-family: 'Krub', sans-serif;
    font-size: 2.5rem;
}
.carrucel {
    background-color: rgb(237, 100, 225);
    width: 50%;
    height: 100vh;
    padding: .2rem;
}
.contenido {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100vh;
}
/*inicio*/
.contenedor_formulario {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contenedor_1 {
    width: 50%;
}
.contenedor_2 {
    width: 50%;
    font-size: 4rem;
    border-radius: 20px;
    background-repeat: no-repeat;
}
.inputs {
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
}
.inputs input {
    border-width: 3px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #EA356D;
    outline: none;
}
/*libros*/
.card_agregar {
    height: 50%;
}
/*libros*/
.buscar_1 {
    display: flex;
    border: 1px solid;
    align-content: flex-start;
    width: 20%;
    height: 5vh;
    margin: 1px;
    justify-content: flex-start;
}
.C_todo {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.8rem;
    font-family: 'Krub', sans-serif;
    background-color: transparent;
}
.lupa {
    height: 3vh;
}
.lupa_A {
    width: 90%;
    margin: 2%;
}
.texto {
    background-color: gainsboro;
    height: 28vh;
    margin: 3px;
    text-align: center;
}
.img {
    background-color: transparent;
    height: 100vh;
    margin: 5px;
    background-size: cover;
}
.img_l {
    width: 100%;
    height: 250px;
}
.container__cards_w {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2rem;
}
.con_se_u {
    width: 40%;
    height: 50%;
    background-color: rgb(245, 246, 247);
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    border: #000 solid 1px;
    box-shadow: 12px 10px 20px 8px rgba(51, 52, 53, 0.7);
}
.card_boton {
    width: 100%;
    background-color: transparent;
}
.cards {
    border: 1px solid black;
    background-color: transparent;
    width: 95%;
    height: 70vh;
    margin: 5px;
    border-radius: 19px;
    box-shadow: 1px 4px 5px 7px rgba(233, 1, 1, 0.568);
}
.cardso {
    border: 1px solid black;
    background-color: transparent;
    width: 95%;
    height: 70vh;
    margin: 5px;
    box-shadow: 1px 4px 5px 7px rgb(255, 38, 0);
}
.footer {
    width: 100%;
    height: 20vh;
}
/*prestamo*/
.contenedor_l {
    border: 1px solid red;
    width: 90%;
    height: 20vh;
    margin-bottom: 200px;
    background-color: aliceblue;
}
.contenedor_b {
    width: 50%;
    height: 5vh;
}
/*sidebar*/
#side_nav {
    background: #f86f6f;
    height: 100%;
}

#barchart_material {
    width: 900px;
    height: 500px;
}

#piechart {
    width: 900px;
    height: 500px;
}
/*side*/
.side {
    background-color: #20C4CB;
    width: 50px;
    height: 100vh;
}
.side .a {
    width: 45px;
    height: 50px;
}
.ico {
    margin-bottom: 50px;
}
.con_inp {
    height: 4vh;
    width: 50%;
}
.container_tab {
    margin: 15px;
}
.container_tab_1 {
    margin-bottom: 100px;
}
.Contenedor_de_las_cards {
    overflow-y:scroll;
    height: 70vh;
}
.card__w {
width: 20%;
    border: 1px solid rgba(0, 155, 125, .7);
    border-radius: 9px;
}
.card__c {
    width: 100%;
    height: 40vh;
    border: 1px solid rgba(0, 155, 125, .7);
    border-radius: 9px;
}
.card__c--img {
    border-radius: 20px;
}
.card__c--img img {
    width: 120px;
}
.card__c--botones {
    width: 100%;
    height: 40px;
    font-size: 3rem;
}
.img__card {
    width: 200px;
    height: 200px;
}

.card__con_btn_and_txt {
    width: 30%;
    height: 28vh;
    font-size: large;
}
.ls {
    width: 500px;
}
.input_t {
    height: 50px;
    width: 20%;
    font-size: 1.5rem;
}
.input_i {
    height: 50px;
    width: 20%;
    font-size: 1.5rem;
    background-color: #56008c;
    color: #fff;
}
.T {
    background-color: aliceblue;
    margin-top: 0px;
}
a {
    text-decoration: none;
    color: white;
}
#grafica{
max-width: 400px;
max-height: 400px;
}
/*telefono*/
@media (min-width:0) and (max-width:850px) {
    .contenedor2 {
        width: 100%;
        margin: 0;
    }
    #barchart_material {
        width: 400px;
        height: 400px;
    }
    #piechart {
        width: 400px;
        height: 200px;
    }
    .contenedor_formulario {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: auto;
    }
    .contenedor_1 {
        display: flex;
        flex-direction: column;
    }
    .letra_ol {
        font-size: small;
    }
    nav h1 {
        font-size: 2rem;
    }
    footer {
        font-size: small;
    }
    .imagen_es {
        width: 140px;
    }
    .input {
        width: 60%;
    }
    .con_se_r {
        width: 90%;
        height: auto;
        margin: 1rem;
        background-color: rgb(242, 238, 238);
        font-size: 2rem;
        font-family: 'Krub', sans-serif;
    }
    .imagen_usuarios img {
        width: 60px;
        height: 60px;
    }
    .imagen_usuarios {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        border-radius: 2rem;
    }
    .inpuit {
        text-align: center;
    }
    label {
        text-align: center;
        color: #56008c;
    }
    .con_se_u {
        width: 100%;
        height: 65%;
        background-color: rgb(242, 238, 238);
        font-size: 1.5rem;
        font-family: 'Krub', sans-serif;
        box-shadow: 12px 10px 3px 8px rgba(74, 71, 71, 0.7);
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .C_todo {
        display: flex;
        flex-direction: column;
    }
    .container_cards_1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .container__h {
        width: 100%;
        display: flex;
        flex-direction: row;
        background: linear-gradient(#56008c, #af69cd);
    }
}
/*computador2*/
@media (min-width:786px) and (max-width:1890px) {
    .input input {
        text-align: center;
    }
    .input {
        width: 60%;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    .con_se_r {
        width: 50%;
        height: 80%;
        margin: 1rem;
        background-color: rgb(242, 238, 238);
        font-size: 1rem;
        font-family: 'Krub', sans-serif;
        box-shadow: 12px 10px 3px 8px rgba(74, 71, 71, 0.7);
    }
    .con_se_1 {
        width: 50%;
        height: 80;
        margin: 1rem;
        background-color: rgb(242, 238, 238);
        font-size: 1rem;
        font-family: 'Krub', sans-serif;
        box-shadow: 12px 10px 3px 8px rgba(74, 71, 71, 0.7);
    }
    .imagen_usuarios img {
        width: 60px;
        height: 60px;
    }
    .imagen_usuarios {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        border-radius: 2rem;
    }
    .con_se_u {
        width: 50%;
        height: 65%;
        background-color: rgb(242, 238, 238);
        font-size: 1rem;
        font-family: 'Krub', sans-serif;
        box-shadow: 12px 10px 3px 8px rgba(74, 71, 71, 0.7);
    }
    .label {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .C_todo {
        display: flex;
        flex-direction: column;
    }
    #barchart_material {
        width: 800px;
        height: 500px;
    }
    #piechart {
        width: 800px;
        height: 500px;
    }
    .card__w {
        width: 20%;
            border: 1px solid rgba(0, 155, 125, .7);
            border-radius: 9px;
        }
}

@media (max-width:786px) {
    .card__w {
        width: 60%;
            border: 1px solid rgba(0, 155, 125, .7);
            border-radius: 9px;
        }
       
}
/*.h{
height: 68vh;

}
.h2{
    margin-top: 10%;
}*/